.container {
    display: flex;
    padding: 20px 20% 0 20%;
}

.textBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15rem;    
}

.name {
    font-size: 18px;
}

.link {
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.helper {
    flex-grow: 1;
}